@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: 100;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-Thin.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-Thin.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: 200;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-ExtraLight.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-ExtraLight.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: 300;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-Light.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-Light.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: 500;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-Medium.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-Medium.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: 600;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-Semibold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-Semibold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: 800;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-ExtraBold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-ExtraBold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: 900;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-Black.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-Black.woff') format('woff')
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: bold;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-Bold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-Bold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: 'Peyda';
	font-style: normal;
	font-weight: normal;
	src: url('../public/assets/fonts/PeydaWeb/woff2/PeydaWeb-Regular.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWeb/woff/PeydaWeb-Regular.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

/* Farsi numbers */
@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: 100;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-Thin.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-Thin.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: 200;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-ExtraLight.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-ExtraLight.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: 300;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-Light.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-Light.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: 500;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-Medium.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-Medium.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: 600;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-SemiBold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-SemiBold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: 800;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-ExtraBold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-ExtraBold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: 900;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-Black.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-Black.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: bold;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-Bold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-Bold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWebFaNum;
	font-style: normal;
	font-weight: normal;
	src: url('../public/assets/fonts/PeydaWebNum/woff2/PeydaWebFaNum-Regular.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../public/assets/fonts/PeydaWebNum/woff/PeydaWebFaNum-Regular.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

.farsi-numbers {
	font-family: "PeydaWebFaNum", sans-serif;
}
